body {
background-color: lightgrey;
background-attachment: fixed;
background-position: center;
background-size: cover;
}

img {
  display: block;
  max-width:320px;
  max-height:180px;
  width: auto;
  height: auto;
}
